html {
    height:100%;
}

body {
    height:100%;
    background-color: #E95420;
}

p, ol {
    font-size: 0.9em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    background-color: #F4F3F2;
}

i {
    margin-right: 5px;
}

table {
    font-size: 0.9em;
}

.container {
    padding: 40px;
    background-color: #DFD1CA;
}

.container-fluid {
    padding: 80px;
    background-color: #DFD1CA;
    /* margin-left: 40px;
    margin-right: 40px; */
}

/* @media (min-width: 992px) and (max-width: 1199.98px) {

} */

@media (min-width: 768px) and (max-width: 992px) {
    table {
        font-size: 0.8em;
    }
    .container-fluid {
        padding: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    table {
        font-size: 0.65em;
    }

    .container-fluid {
        padding: 10px;
    }
}

@media (max-width: 575.98px) {
    table {
        font-size: 0.5em;
    }

    .container-fluid {
        padding: 10px;
    }
}

thead {
    background-color: #5F5B42;
    color: white;
}

.spacer {
    margin-right: 10px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-shrink: 0;
}

.page-body {
    flex-grow: 1;
}

.navbar {
    background-color: #5F5B42;
}

.navbar-brand {
    background-color:#2C2A1E;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    border: thin solid white;
}

.dropdown-menu {
    font-size: 0.9em;
}

.footer {
    background-color: #5F5B42;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
